[submodule "computer-controlled-signal-randomized-translingual-neurostimulator"]
	path = computer-controlled-signal-randomized-translingual-neurostimulator
	url = https://github.com/quicksilv3rflash/computer-controlled-signal-randomized-translingual-neurostimulator.git
